@use "../../../assets/styles/mixins" as mixins;
@use "../../../assets/styles/variables" as variables;

:host {
  display: flex;
  gap: 90px;
}

.field {
  background: url("../../../assets/images/field.png") no-repeat;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  block-size: 760px;
  inline-size: 406px;
  padding-block-start: 92px;

  &.schema {
    block-size: 150px;
    inline-size: 80px;
    background-size: contain;
    padding-block-start: 18px;
    opacity: 0.5;
    border: none;
    cursor: pointer;

    &.active {
      opacity: 1;
      cursor: default;
      pointer-events: none;
    }

    .position {
      inline-size: 12px;
      block-size: 12px;
      background-color: variables.$bg-field-position;
      border-radius: 100%;
    }
  }

  .line {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .position {
    position: relative;
    inline-size: 60px;
    block-size: 60px;
    border-radius: 100%;

    background-color: variables.$bg-field-position;

    &.block {
      pointer-events: none;
      background-color: variables.$bg-disabled-field-position;
    }

    .close-btn {
      position: absolute;
      inset-block-start: -9px;
      inset-inline-end: -16px;
      padding: 0;
      width: auto;
      height: auto;

      mat-icon {
        color: white;
      }
    }
  }
}

.schemas {
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
}
