$container-size: 80%;
$header-color: #ed4331;
$bg-flat-button: #ed4331;
$color-flat-button: white;
$bg-stroked-button: white;
$color-stroked-button: #ed4331;
$border-stroked-button: #ed4331;
$border-card: #ed4331;
$bg-field-position: #ffc9c9e6;
$bg-disabled-field-position: #ffc9c980;
$color-last-name-on-field-position: white;
