@use "../../../../assets/styles/mixins" as mixins;
@use "../../../../assets/styles/variables" as variables;

:host {
  @include mixins.df-center-column;

  min-inline-size: 100%;
  border-bottom: 1px solid variables.$header-color;
}

.wrapper-bar {
  inline-size: 100%;
  max-inline-size: 1081px;

  @media screen and (width <= 1160px) {
    max-inline-size: 95%;
  }

  .content-bar {
    @include mixins.df-row;

    align-items: center;
    block-size: 65px;

    .text {
      @include mixins.df-center-row;

      flex: 1;
      font-size: 25px;
      text-transform: uppercase;
      color: variables.$header-color;
    }
  }
}
